/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Custom Variables */
:root{

    /* Layout sizes */
    --container-1440-size: 1440px;

    /* Colours */
    --main-background-colour: #FFFFFF;
    --secondary-background-colour: #F4F4F4;
    --primary-accent-colour:#D44035;
    --footer-underline-colour: #707070;
    --search-bar-bg-colour: #EAEAEA;
    /* Unknown use */
    --shado-colour: #00000029;
    
    /* Icon colours */
    --nav-bar-icon-colour: #000000;
    --side-bar-social-colour: #2A2A2A;

    /* Font colours */
    --main-font-colour: #3D3D3F;
    --footer-link-colour: #767676;
    --header-White-colour: #FFFFFF;
    
    /* Font-sizes */
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 20px;
    --p-font-size: 16px;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* *** UTILITY CLASSES *** */

.container{
    max-width:1440px !important;
}

.inner-container{
    max-width: 1252px;
    margin: 0 auto;
}

.section-spacing-70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-pb-spacing{
    padding-bottom: 68px;
}

/* ** Reusable text classes ** */
.h2-accent-red {
    font-size: var(--h2-font-size);
    color: var(--primary-accent-colour);
    font-weight: bold;
    letter-spacing: 0.64px;
}

.h2-header-black {
    font-size: var(--h2-font-size);
    color: var(--main-font-colour);
    font-weight: bold;
    letter-spacing: 0.64px;
}

.h3-header-black {
    font-size: var(--h3-font-size);
    color: var(--side-bar-social-colour);
    font-weight: bold;
    letter-spacing: 0.48px;
}

.h4-header-black{
    font-size: var(--h4-font-size);
    color: var(--main-font-colour);
    font-weight: bold;
    letter-spacing: 0.56px;
}

.p-content-grey {
    font-size: var(--p-font-size);
    color: var(--main-font-colour);
    font-weight: 400;
    letter-spacing: 0.32px;
}

/* *** HEADER SECTION START *** */
.header {
    max-width: 1440px;
    position: relative;
    height: 89px;
    display: flex;
    align-items: center;
    padding-left: 97px;
    padding-right: 97px;
    justify-content: space-between;
}

.header-wrap{
    height: 89px;
}

.logo {
    display: flex;
    align-items: center;
    height: 44px;
    margin-top: 14px;
    /* other styles */
}

.header a {
    text-decoration: none;
    color: var(--main-font-colour);
    font-size: var(--p-font-size);
    font-weight: 700;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    padding: 0;
}

.search-box-wrap, .header-icons {
    display: flex;
    align-items: center;
    height: 100%;
    /* other styles */
}

.menu-items li a {
    padding: 0.5em 1em;
    /* add transition here */
}

.menu-items li a:hover {
    color: red;
}

.search-box-wrap {
    position: relative;
}
/* ** Search box ** */
.search-field{
    background-color: var(--search-bar-bg-colour) ;
    border-radius: 55px;
    width: 216px;
    height: 32px;
}

.search-icon{
    position: absolute;
    right: -16px; 
    color: var(--main-font-colour);
    margin-bottom: 4px;    
    width: 13.5px;
    height: 13.5px;
    top: 50%; 
    transform: translateY(-50%); 
}
/* ** Widget icons ** */
.widget-box:not(:last-child) {
    margin-right: 28px; 
  }


/* Hero section */

.hero-wrap{
    position: relative;
/*  hero section background image */
    width: 100%; 
    /* Height on the section -  */
    height: 373px; 
    background-image: url('../images/Hero Image.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.hero-wrap::before{
    content: '';
    position: absolute; 
    /* The offset is all 0 to cover the full container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Opacity must be 41% */
    background-color: rgba(0, 0, 0, 0.41); 
    z-index: 1; 
}

.hero-section-box, .decorative-line-box{
    text-align: left;
    z-index: 2;
}

.hero-section-box h1, h5{
    color: var(--header-White-colour);
}

/* ** Decorative hero section line ** */
    
    /* Individual line segment width and position*/
  .line-section {
    width: 60px; 
    height: 8px;
    display: inline-block;
  }
  
  /* Gap between sections - except third line-section class */
  .line-section:not(:last-child) {
    margin-right: 4px; 
  }
  /* Line section colours */
  .red {
    background-color: var(--primary-accent-colour);
  }
  
  .gray {
    background-color: #9c9a98;
  }

  
/* *** GARAGE ICON SECTION *** */

.inner-container-1316{
    max-width: 1316px;
    margin: 0 auto;
}



.icon-row .icon-col {
    flex: 0 0 auto; /* Override Bootstrap's flex properties */
    width: 188px; /* Set column width to 188px */
    position: relative;
}

.garage-widget-box {
    width: 188px;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Aligns content to the bottom */
    position: relative;
  /*   background-color: var(--main-font-colour); */

}

.widget-content {
    text-align: center; 
    margin-bottom: 34px; /* adjust the height of icon box from the bottom */
}

.widget-content p {
    font-size: var(--p-font-size);
    color: var(--main-font-colour);
    font-weight: bold;
    letter-spacing: 0.32px;
    margin-top: 14px;
}

.hover-icon {
    width: 28px;
    height: 32px;
    font-size: 20px; /* Adjust the size of the > icon */
    /* Background */
    background-color: #BED0D4; 
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px; 
    /* Positioning on icon */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);  
    align-items: center;
    justify-content: center;
     /* Hide by default */
    display: none;
   
   
}

.garage-widget-box:hover {
   box-shadow: 0px 3px 20px #0000001A;
}

/* Trigger  */
.garage-widget-box:hover .hover-icon {
    display: flex;
}

/* *** LATEST PROJECT SECTION *** */

.bg-grey{
    background-color: var(--secondary-background-colour);
}

.project-header-box{
    padding-top: 68px;
    margin-bottom: 68px;
}

.view-more-button{
    color: var(--header-White-colour);  
    font-size: var(--p-font-size);
    letter-spacing: 0.32px;
    background-color: var(--primary-accent-colour);
    width: 131px;
    height: 32px; 
    border: none;
    border-radius: 200px;
    
    /* Transition effects */
    transition: background-color 0.3s ease, width 0.3s ease; 

}

.view-more-button:hover {
    background-color: #A72E25;
    width: 166px;
 
}

.project-card-container{
    max-width: 850px;
    margin: 0 auto;
}

.card {
    max-width: 404px;
}

.card-body{
    padding-left: 37px;
    padding-right: 37px;    
    padding-top: 43px;
}

/* Responsive card padding and margin classes  */
@media (max-width: 760px) {
    
    .card-wrap:first-child {
    margin-bottom: 27px;
    }

    .card-wrap{
    padding-left: 37px;
    padding-right: 37px;
    }

    .card-body{
    padding-left: 28.5px;
    padding-right: 28.5px;    
    padding-top: 39.5px;
}


}

/* ** Card image hover zoom effect ** */

/* Need a image wrapper to ensure the scale effect does not overlap outside
and on top card body section */
.image-wrapper {
    overflow: hidden; 
    width: 100%; 
}

.card-img-top {
    transition: transform 0.3s ease;
}

/* Zoom-in effect when hovering over the card */
.card:hover .card-img-top {
    transform: scale(1.10); 
}


/* ** Card link and link hover dropdown and transform effect ** */

.card-body a{
    text-decoration: none;
    color: var(--primary-accent-colour);
    position: relative;
    display: inline-block;
}

.card-link a span {
    position: relative;
}

/* Combine a span drop down and expand effect to create the required final effect */
.card-body a span::after {
    content: '';
    /* Adjust size of the line here */
    height: 3px;
    background-color: var(--primary-accent-colour);
    border-radius: 5px;
    /* Adjust postion of the span line here */
    position: absolute;
    bottom: -8px; 
    left: 0;
    width: 0; /* Start with width 0 and expand to 100% over 0.3 at same time
    transform the line (move) from -8px (below the link) to  final position */
    transform: translateY(-8px); 
    transition: width 0.3s ease, transform 0.3s ease;
}

/* selector to add hover to only link = .card-body a:hover span::after */
.card-body:hover a span::after {
    width: 100%; 
    transform: translateY(0px); 
}

/* *** FOOTER SECTION *** */
.bg-footer{
    background-color:var(--side-bar-social-colour) ;
}


/* Todo
1. finish mobile header
2. align hero section text to with header
3. fix hero text wrap size
4. fix hero text spacing between elements
5. change the garage > icon to font awesome
6. add sticky sidbar socials */